.contact-page {
    margin-top: 100px;
}
.contactForm input, textarea {
    display: block;
    width: 500px;
    margin-top: 20px;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 5px; 
}
.error {
    color: red;
}
.contactForm {
    justify-content: center;  

}
.contactForm textarea {
    height: 150px;
}