.contact-page {
    margin-top: 100px;
}
.contactForm input, textarea {
    display: block;
    width: 95%;
    margin-top: 20px;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 5px; 
}
.error {
    color: red;
}
.half-width {
    
} 


.contactForm textarea {
    height: 150px;
}